<div class="row">
    <div class="col">
        <h1 class="text-center fw-bold mt-5">¿Que tan inteligente te consideras?</h1>    
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12 d-flex justify-content-center align-items-center flex-column ">
        <p class="text-center fs-4 fst-normal w-75  pb-0">Accede ahora a este Quiz para saber que tanto conoces sobre cultura general.</p>
        <button class="btn btn-outline-success  w-75 text-center fw-bold">Comenzar Quiz</button>
    </div>
    <div class="col-md-6 col-xs-12 d-flex justify-content-center align-items-center flex-column">
        <img src="../../../assets/home picture.jpg" width="400px" alt="">
    </div>
</div>

