<div class="container mt-5">
   <div class="p-5">
    <div *ngIf="currentIndex<quiz.length">
        <h3 class="text-center numberQuestion p-2 border border-primary">Pregunta {{currentIndex+1}} de {{quiz.length}}</h3>
        <div>
            <h1 class="mt-5 text-center bg-primary text-white rounded border border-light p-2 question">{{quiz[currentIndex].question}}</h1>
            <div class="mt-3 list-answer">
                <ul class="list-group border border-primary "  *ngFor="let options of quiz[currentIndex].answer">
                    <li class="list-group-item answers" appBackgroundAnswer [correctAnswer]="options.correct">
                    <input class="form-check-input me-1" type="radio" (change)="onAnswer(options.correct)" [disabled]="clickedAnswer">
                    {{options.option}}
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div *ngIf="currentIndex == quiz.length">
        <div class="d-grid  col-6 mx-auto mt-2">
            <button class="btn btn-success" (click)="showResult()" *ngIf="!result">ver resultados </button>
            <p class="fs-5 text-center" *ngIf="result">Aciertos: {{correctAnswer}} | Errores: {{incorrectAnswer}}</p>
            <button  class="btn btn-primary" routerLink="/home">Regresar</button>
        </div>
    </div>
   </div>
    
</div>
<router-outlet></router-outlet>